// App.scss
@import './variables';
*{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  // font-weight: <weight>;
  font-style: normal;
 
}
.app {

  // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900
/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}



/* Track */
::-webkit-scrollbar-track {
  background: #ab81d33b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #410f6f9d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #400F6F;
}

  .sideBar_app{
    // border: 1px solid red;
    // width: 300px;
    height:100% !important;
    // overflow-y:  !important;
    // position: relative;
    z-index: 9;
  }

}
#app_{
  max-width: 2400px;
  margin: 0 auto;
}


.content {
  // height: 92.6vh;
  // margin-left: -171px;
  overflow-y: auto;
  // margin-left: 100px;

}